.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--space-md) var(--space-sm);
    max-width: 100%;
    margin-bottom: var(--space-lg);

    &__image {
        border-radius: 50%;
        width: 100%;
    }

    &__image-placeholder {
        display: block;
        position: relative;
        width: 11.5rem;
        height: 11.5rem;
        border-radius: 50%;
        background-color: $color__brand-primary-light;

        &::before {
            content: '\f110';
            font-family: 'Dashicons';
            font-size: 6.5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__heading {
        margin-top: var(--space-lg);
    }

    &__intro {
        margin-top: 0;
        margin-bottom: var(--space-lg);
    }
}

@include media-breakpoint-up(md) {
    .bio {
        max-width: 19rem;
        border: thin solid $color__brand-primary-light;
        border-radius: 1.5rem;
    }
}
