.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin-bottom: calc(var(--space-lg) * 2);

    &__image {
        width: 11.5rem;
        height: 11.5rem;
        border-radius: 50%;
        object-fit: cover;
    }

    &__heading {
        margin-top: var(--space-lg);
    }

    &__intro {
        margin-top: 0;
        margin-bottom: var(--space-lg);
    }
}

@include media-breakpoint-up(md) {
    .bio {
        max-width: 19rem;
        padding: var(--space-lg) var(--space-md);
        border: thin solid scale-color($color__brand-green-pale, $lightness: -10%);
        border-radius: 1.5rem;

        &__intro {
            font-size: .9rem;
        }
    }
}
