.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.error-404 {
	text-align: center;
}

.content-wrapper {
	background-color: $color__background;
	padding: var(--space-xl) 0;

	&--fp {
		.container {
			display: flex;
			flex-direction: column-reverse;

			.site-main {
				text-align: center;

				.service {
					padding: var(--space-md) 0;
				}
			}
	
			aside {
				align-self: center;
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.content-wrapper {
        padding: var(--space-xxl) 0;

		&--fp .container {
			flex-direction: row;

			.site-main {
				flex: 1;
				text-align: left;
			}
		
			aside {
				margin-left: var(--space-xxl);
				align-self: flex-start;
			}
		}
    }
}
