@font-face {
    font-family: 'DMSans-Regular';
    src: url('DMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans-Medium';
    src: url('DMSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans-Bold';
    src: url('DMSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DMSerifDisplay-Regular';
    src: url('DMSerifDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DMSerifDisplay-Italic';
    src: url('DMSerifDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
