input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: none;
	border-radius: .2rem;
	padding: var(--space-sm);
	background-color: #fff;

	&::placeholder {
		color: $color__brand-primary-light;
	}

	&:focus:not(:focus-visible) {
		outline: none;
	}

	&:focus {
		color: $color__text-input-focus;
		outline: 4px solid $color__brand-primary;
	}
}

select {
	border: none;
	border-radius: .2rem;
	padding: var(--space-sm);
}

textarea {
	width: 100%;
}
