a {
	color: $color__link;
	display: inline-block;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus:not(:focus-visible) {
		outline: none;
	}

	&:focus {
		outline: thin solid $color__brand-green;
		outline-offset: 2px;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
