a {
	color: $color__link;
	display: inline-block;
	text-decoration: none;
	transition: color ease .3s;

	&:hover {
		text-decoration: underline;
	}

	&:focus:not(:focus-visible) {
		outline: none;
	}

	&:focus {
		outline: thin dotted $color__brand-green-dark;
		outline-offset: 2px;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
