.site-footer {
    position: relative;
    z-index: 1;
    padding-top: var(--space-xl);
    background-color: $color__brand-green-pale;
    border-top: thin solid scale-color($color__brand-green-pale, $lightness: -10%);
    text-align: center;

    .wp-block-heading {
        margin-top: 0;
        font-size: var(--font-size-h4);
    }

    .site-footer__copyright {
        display: block;
        text-align: center;
        padding: var(--space-lg) 0 var(--space-sm);
    }
}
