$color__brand-primary: #a0427e;
$color__brand-primary-dark: scale-color($color__brand-primary, $lightness: -20%);
$color__brand-primary-light: scale-color($color: $color__brand-primary, $lightness: 70%);
$color__brand-primary-background: scale-color($color: $color__brand-primary, $lightness: 85%);

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: transparent;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #000;
$color__text-input-focus: #000;
$color__link: $color__brand-primary;
$color__link-visited: #800080; //purple
$color__link-hover: $color__brand-primary-dark;
$color__text-main: #000;

$color__border-button: #000;
$color__border-button-hover: $color__brand-primary;
$color__outline-button-focus: $color__brand-primary;
$color__border-input: #ccc;
$color__border-abbr: #666;
