$color__brand-green-pale: #aec4b8;
$color__brand-green-dark: #527032;
$color__brand-beige: #fcf3e4;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: transparent;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #000;
$color__text-input-focus: #000;
$color__link: scale-color($color__brand-green-dark, $lightness: -30%);
$color__link-visited: #800080; //purple
$color__text-main: #000;

$color__border-button: $color__brand-green-dark;
$color__border-button-hover: $color__brand-green-pale;
$color__outline-button-focus: $color__brand-green-dark;
$color__border-input: #ccc;
$color__border-abbr: #666;
